/* bonus */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    /* bonus */
    font-style: italic;
    color: azure;
    transform: matrix(5s);
    
}


p{
    /* bonus */
    font-family: 'Mukta', sans-serif;
}
img {
    display: flex;
    justify-content: center;
    
    width: 150px;
    height: 60px;
   

}
div {
    text-align: center;
  }
.Hobbies {
    background-color: blue;
}

body {
    border: 10 solid;
    border-radius: 3;
}